/* utilitaire */


i {
    color: #000000;
}

.flex {
    display: flex;
}

* {
    color: black;
    /* color: white; */
    font-weight: 100;
}

a:link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    text-decoration: none;
    color: white;
    font-weight: 400;

}

a:hover {
    text-decoration: none;
    color: white;
    text-decoration: underline;

}

a:active {
    text-decoration: none;
    color: red;
    text-decoration: double;

}

body {
    width: 90vw;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;

}

/* header */
.wrapper {
    flex-direction: column;
    width: 90vw;
    /* margin: 50px; */
    justify-content: center;
    align-items: center;
}


/* footer */
/* .footer{
    background-color: rgb(51, 51, 51);
    width: 100vw;
    display: flex;
    justify-content: center;
}
footer ul li{
    margin: 3em;
    padding: 1em;
}
.footer_lien{
    font-size: medium!important;
    font-weight: 400!important;
    flex-direction: row;
    justify-content: space-around;

}
.credit{
    margin: 1.5em;
    padding:.1em;
    color: white;
    justify-content: center;
    align-items: center;
}
.footer_liensrs{
    justify-content: space-evenly;
    align-items: center;
}
.footer_liensrs a{
    margin: 1.5em;
    padding:.1em;
}
.boite_rs{
    flex-direction: column;
    margin: 1.5em;
    padding:.1em;    
    justify-content: space-evenly;
    align-items: center;
    color:#000000;

}
.rs_footer{
    margin: auto;
    padding-bottom:1em ;    
    width: 80%;
    height: auto;
}
.footer_liensrs :nth-child(2n-1){
    color:white;
}
.footer_liensrs :nth-child(2n){
    color:green;
}
.boite_rs:hover a{
    color: #8500b9;
} */