Options -Indexes
#ErrorDocument 404 /SAE_203/erreur/erreur404.php
ErrorDocument 403 https://meganerd-sae.dufourj.etu.mmi-unistra.fr/erreur/erreur403.php
ErrorDocument 404 https://meganerd-sae.dufourj.etu.mmi-unistra.fr/erreur/erreur404.php



RewriteEngine on