<!DOCTYPE html>
<php lang="fr">
	{% block spe %}
		<html>
		{% endblock %}
		<head>
			<meta charset="UTF-8">

			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
			<link rel="stylesheet" href="css/reset.css">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> {% block CSS %}{% endblock %}
			<link rel="stylesheet" href="css/animate.css">
			<link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
			<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
			<link rel="icon" href="favicon.ico" type="image/x-icon">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"
			<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
			<title>{{ index.nom }}</title>
		</head>
		{% block body %}
							<p> WORK IN PROGRESS </p>
							{% endblock body %}
		{% block footer %}

			<footer>
				<div class="moi_footer"></div>
				<nav class="navfooter">
					<ul></ul>
				</nav>
			</footer>
		</html>
	</body>
</div></body></div>{% endblock footer %}</body></html></php>
